<div class="mt-5">
  <carousel>
    <slide>
      <img
        src="./assets/images/pexels-photo-167702.jpg"
        alt="first slide"
        style="display: block; width: 100%;">
    </slide>
    <slide>
      <img
        src="./assets/images/pexels-photo-2716795.jpeg"
        alt="first slide"
        style="display: block; width: 100%;">
    </slide>
    <slide>
      <img
        src="./assets/images/pexels-photo-2927001.webp"
        alt="first slide"
        style="display: block; width: 100%;">
    </slide>
  </carousel>
  <section class="featured">
    <div class="d-flex justify-content-center pt-4">
      <h1>Welcome to the Shop!</h1>
    </div>
  </section>
</div>
